@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */
/* common */
.img {
	max-width: 100%;z-index: 5;margin: 0 auto;
}

.title {
text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 48px;
	letter-spacing: 8px;
}

.clearfix {
	clear: both;
}




/* header */
.header
{
height: 90vh;

	
	
	/* background: url('../img/c-sl-005-768x512.jpg')no-repeat center; */
	background-image: url('../img/c-sl-005-768x512.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;background-attachment: fixed;
	}
.nav> .h1{

	position: absolute;
	

	
}


/* main-wrap */


.main-wrap {width: 100%;border: 1px solid red;}
.navi {background-color: black;color: white;font: size 30px;
	margin: 0 auto;text-align: center;}




/*  about-wrap*/
.about-wrap .slogan{text-align: right;float: right;;}
.about-wrap .h2{ float: right;text-align:right;}



/* locations */


/* specialities */
/* menu */
/* news*/
/* press about us*/